@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: white;
}
#clock-container,
#xmas-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 70px;
  border-bottom: 1px solid white;
}
.xmas-icon {
  margin-right: 10px;
}
#xmas-clock {
  margin-left: 15px;
  border-bottom: 1px solid white;
}
input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
  opacity: 50%;
  text-align: center;
  margin-left: 50px;
}
li button,
input[type="submit"] {
  width: 60px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  color: gray;
  border: 1px solid rgb(105, 104, 104);
  opacity: 70%;
}
#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 7px;
}
#todo-form input {
  margin-right: 55px;
}
#greeting {
  font-size: 45px;
}
.list-container {
  position: relative;
  width: 700px;
  margin-top: 15px;
  margin-left: 390px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  color: gray;
  border: 1px solid rgb(105, 104, 104);
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-list {
  list-style: none;
  width: 200px;
  margin: 0px auto;
  text-align: center;
  color: rgb(51, 50, 50);
  margin-top: 7px;
  padding-bottom: 10px;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 600;
}
li {
  border-bottom: 3px solid white;
}
li span {
  margin-bottom: 2px;
}
li button {
  position: absolute;
  right: 60px;
  margin-left: 30px;
  margin-top: 1px;
  margin-bottom: 10px;
  opacity: 90%;
}
#quote {
  position: fixed;
  bottom: 5px;
  right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  box-sizing: border-box;
}
#quote span:last-child {
  margin-left: 10px;
}
#weather {
  position: fixed;
  top: 10px;
  left: 665px;
  font-size: 18px;
}

.hidden {
  display: none;
}
.bgImage {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 70%;
}
