@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: white;
}
#clock-container,
#xmas-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 70px;
}
#xmas-clock {
  margin-left: 15px;
}
#quote {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  box-sizing: border-box;
}
#weather {
  position: fixed;
  top: 5px;
  left: 670px;
  font-size: 18px;
}
.hidden {
  display: none;
}
.bgImage {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 85%;
}
